{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
    <img src="{% static "students/404.png" %}" class="img-fluid" alt="404"/><br><br>
<h1>404 ERROR</h1>
    <p class="lead">Oops! No such page :(</p>
{% endblock %}