<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Students</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">


    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header>
    <div>
      <h3 class="float-md-start mb-0">Students</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url "index" %}">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="{% url "students:get_students" %}">All students</a>
        <a class="nav-link fw-bold py-1 px-0" href="{% url "students:create_student" %}">Create</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    {% block content %}
    {% load static %}
    <img src="{% static "students/banner.jpg" %}" class="img-fluid" alt="Banner students"/><br><br>

    <h1>Students Database</h1><br>

    <p class="lead">Student's DataBase allows you to manage student data in an intuitive format that ensures data integrity, security, accurate reporting and quick access to information.</p>

    <div class="card-group">
      <div class="card">
        <img src="{% static "students/our-students.jpg" %}" class="card-img-top" alt="All students">
        <div class="card-body">
          <h5 class="card-title">All students</h5>
          <p class="card-text">Here you can see information about all students.</p>
          <p class="lead"><small class="text-muted">Here you can see information about all students, make search and change informaition in the database.</small></p>
          <a href="{% url "students:get_students" %}" class="btn btn-primary">All students</a>
        </div>
      </div>
      <div class="card">
        <img src="{% static "students/create_student.jpg" %}" class="card-img-top" alt="Create student">
        <div class="card-body">
          <h5 class="card-title">Create student</h5>
          <p class="card-text">Here you can add a new student to the database.</p>
          <p class="lead"><small class="text-muted">Here you can add a new student to the database. Base information is first name, last name and email.</small></p>
          <a href="{% url "students:create_student" %}" class="btn btn-primary">Create student</a>
        </div>
      </div>
    </div>

    {% endblock %}
    <br><br>
  </main>


</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


  </body>
</html>