{% extends "index.html" %}

{% block content %}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Birthdate</th>
      <th scope="col">Grade</th>
      <th scope="col">Age</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
      <tr>
        <th scope="row">{{ student.id }}</th>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.birthdate }}</td>
        <td>{{ student.grade }}</td>
        {% if student.birthdate %}
          <td>{{ student.age }}</td>
        {% else %}
          <td>Undefined age</td>
        {% endif %}
        <th scope="col"><a type="button"
                                class="btn btn-warning"
        href="{% url 'students:update_student' student.id  %}">Edit</a></th>
        <th scope="col"><a type="button"
                                class="btn btn-danger"
        href="{% url 'students:delete_student' student.id  %}">Delete</a></th>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}