{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div>
   <form method="POST">
       {{ form|crispy }}
       <br>
       <p><button type="submit" value="Update" class="btn btn-success">Update</button></p>
   </form>
</div>

{% endblock %}